.header{
    background-color:rgb(240, 210, 224);
    display:flex;
    justify-content: center;
}

.menu{
    background-color:rgb(202, 167, 209);
    display:flex;
   justify-content: center; 
}

.Grid{
    display:flex;
    flex-direction: row;
justify-content: space-evenly;
}

.FOOTER{
    
    display: flex;
    align-content: flex-end;
    justify-content: center;
}